

#levelcont {
	width: 40px;
	right: 10px;
	bottom: 160px;
	max-height: calc(100%-170px);
	overflow-y: auto;
	box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1); 
}
.levelbuttons {	
	border: none;
	background: #fff;
	width: 40px;
	border-bottom: 1px solid #ddd;	
	vertical-align: middle;
	line-height: 40px;
	font-size: larger;
}
.levelbuttons:hover{
	background: #E4E4E4;
}
.levelbuttonsselected {	
	border: none;
	background: #E4421C;
	width: 40px;
	border-bottom: 1px solid #ddd;	
	vertical-align: middle;
	line-height: 40px;
	font-size: larger;
}
/*
#searchsymbol {
	float: left;
	width: 40px;
	height: 40px;
	cursor: pointer;
}	

#searchpic {
	display: block;
	margin: 10px;
}

#searchfield {
	margin-top: 10px;
	margin-right: 8px;
	width: 188px;
	border: none;
	outline: none;	
}

#resultlist {
	display: none;
	background-color: white;	
	list-style-type: none;
	padding: 0px;
	margin-top: 6px;
}

.suggestions {
	margin-left: 5%;
}

.suggestions:hover {
	margin-left: 1%;
	background-color: #ebebeb;
	cursor: pointer;
}
*/