#searcher {
	position: absolute;
	background-color: white;	
    top: 10px;
    left: 10px;
    z-index: 1;
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1); 
}

#searchsymbol {
	float: left;
	width: 40px;
	height: 40px;
	cursor: pointer;
}	

#searchpic {
	display: block;
	margin: 10px;
}

#searchfield {
	margin-top: 10px;
	margin-right: 8px;
	width: 188px;
	border: none;
	outline: none;	
}

#resultlist {
	display: none;
	background-color: white;	
	list-style-type: none;
	padding: 0px;
	margin-top: 6px;
}

.suggestions {
	margin-left: 5%;
}

.suggestions:hover {
	margin-left: 1%;
	background-color: #ebebeb;
	cursor: pointer;
}